In [1]:
import matplotlib
import pandas as pd
from matplotlib import pyplot
import numpy as np

In [2]:
df = pd.read_csv("./data/cs-training.csv")

In [3]:
df.describe

<bound method DataFrame.describe of         Unnamed: 0  SeriousDlqin2yrs  RevolvingUtilizationOfUnsecuredLines  \
0                1                 1                              0.766127
1                2                 0                              0.957151
2                3                 0                              0.658180
3                4                 0                              0.233810
4                5                 0                              0.907239
5                6                 0                              0.213179
6                7                 0                              0.305682
7                8                 0                              0.754464
8                9                 0                              0.116951
9               10                 0                              0.189169
10              11                 0                              0.644226
11              12                 0                              0.018798
12              13                 0                              0.010352
13              14                 1                              0.964673
14              15                 0                              0.019657
15              16                 0                              0.548458
16              17                 0                              0.061086
17              18                 0                              0.166284
18              19                 0                              0.221813
19              20                 0                              0.602794
20              21                 0                              0.200923
21              22                 1                              0.025656
22              23                 0                              1.000000
23              24                 0                              0.075427
24              25                 0                              0.046560
25              26                 1                              0.392248
26              27                 0                              0.052436
27              28                 0                              0.034421
28              29                 0                              0.452516
29              30                 0                              0.392995
...            ...               ...                                   ...
149970      149971                 0                              0.025449
149971      149972                 0                              0.058001
149972      149973                 0                              0.071273
149973      149974                 0                              1.026395
149974      149975                 0                              0.962721
149975      149976                 0                              0.022088
149976      149977                 0                              0.000627
149977      149978                 0                              0.236450
149978      149979                 0                              0.917635
149979      149980                 1                              0.224711
149980      149981                 0                              0.067644
149981      149982                 0                              0.810012
149982      149983                 0                              0.021046
149983      149984                 0                              0.002485
149984      149985                 0                              0.037548
149985      149986                 0                              0.954409
149986      149987                 0                              0.168102
149987      149988                 0                              1.000000
149988      149989                 0                              0.902051
149989      149990                 0                              0.013356
149990      149991                 0                              0.055518
149991      149992                 0                              0.104112
149992      149993                 0                              0.871976
149993      149994                 0                              1.000000
149994      149995                 0                              0.385742
149995      149996                 0                              0.040674
149996      149997                 0                              0.299745
149997      149998                 0                              0.246044
149998      149999                 0                              0.000000
149999      150000                 0                              0.850283

        age  NumberOfTime30-59DaysPastDueNotWorse    DebtRatio  MonthlyIncome  \
0        45                                     2     0.802982           9120
1        40                                     0     0.121876           2600
2        38                                     1     0.085113           3042
3        30                                     0     0.036050           3300
4        49                                     1     0.024926          63588
5        74                                     0     0.375607           3500
6        57                                     0  5710.000000            NaN
7        39                                     0     0.209940           3500
8        27                                     0    46.000000            NaN
9        57                                     0     0.606291          23684
10       30                                     0     0.309476           2500
11       51                                     0     0.531529           6501
12       46                                     0     0.298354          12454
13       40                                     3     0.382965          13700
14       76                                     0   477.000000              0
15       64                                     0     0.209892          11362
16       78                                     0  2058.000000            NaN
17       53                                     0     0.188274           8800
18       43                                     0     0.527888           3280
19       25                                     0     0.065868            333
20       43                                     0     0.430046          12300
21       38                                     0     0.475841           3000
22       39                                     0     0.241104           2500
23       32                                     0     0.085512           7916
24       58                                     0     0.241622           2416
25       50                                     0     1.595253           4676
26       58                                     0     0.097672           8333
27       69                                     0     0.042383           2500
28       24                                     0     0.011761           3400
29       58                                     2     0.436103           5500
...     ...                                   ...          ...            ...
149970   58                                     0     0.253855          15500
149971   83                                     0     0.013997           5000
149972   42                                     0     0.008638           6945
149973   44                                     0     0.494819           5500
149974   61                                     2     0.603479           5000
149975   58                                     0  2716.000000            NaN
149976   76                                     0    60.000000            NaN
149977   29                                     0   349.000000            NaN
149978   52                                     2     0.259496           2500
149979   55                                     0     0.057235           8700
149980   64                                     0     0.254976           5525
149981   43                                     0     0.121752           6849
149982   37                                     0     0.250272           2760
149983   82                                     0     0.000800           5000
149984   84                                     0    25.000000            NaN
149985   26                                     0     0.324962           1950
149986   49                                     0     0.080384           5000
149987   28                                     0     0.055692           3249
149988   31                                     1     0.347924           7515
149989   62                                     0     0.001408           9233
149990   46                                     0     0.609779           4335
149991   59                                     0     0.477658          10316
149992   50                                     0  4132.000000            NaN
149993   22                                     0     0.000000            820
149994   50                                     0     0.404293           3400
149995   74                                     0     0.225131           2100
149996   44                                     0     0.716562           5584
149997   58                                     0  3870.000000            NaN
149998   30                                     0     0.000000           5716
149999   64                                     0     0.249908           8158

        NumberOfOpenCreditLinesAndLoans  NumberOfTimes90DaysLate  \
0                                    13                        0
1                                     4                        0
2                                     2                        1
3                                     5                        0
4                                     7                        0
5                                     3                        0
6                                     8                        0
7                                     8                        0
8                                     2                        0
9                                     9                        0
10                                    5                        0
11                                    7                        0
12                                   13                        0
13                                    9                        3
14                                    6                        0
15                                    7                        0
16                                   10                        0
17                                    7                        0
18                                    7                        0
19                                    2                        0
20                                   10                        0
21                                    7                        0
22                                    4                        0
23                                    6                        0
24                                    9                        0
25                                   14                        0
26                                   22                        0
27                                   17                        0
28                                    1                        0
29                                   15                        0
...                                 ...                      ...
149970                                7                        0
149971                                6                        0
149972                                3                        0
149973                                7                        0
149974                               11                        0
149975                                8                        0
149976                                5                        0
149977                                3                        0
149978                                4                        0
149979                                7                        0
149980                               12                        0
149981                                4                        0
149982                                8                        0
149983                                5                        0
149984                                5                        0
149985                                4                        0
149986                               16                        0
149987                                3                        1
149988                               10                        0
149989                                4                        0
149990                                7                        0
149991                               10                        0
149992                               11                        0
149993                                1                        0
149994                                7                        0
149995                                4                        0
149996                                4                        0
149997                               18                        0
149998                                4                        0
149999                                8                        0

        NumberRealEstateLoansOrLines  NumberOfTime60-89DaysPastDueNotWorse  \
0                                  6                                     0
1                                  0                                     0
2                                  0                                     0
3                                  0                                     0
4                                  1                                     0
5                                  1                                     0
6                                  3                                     0
7                                  0                                     0
8                                  0                                     0
9                                  4                                     0
10                                 0                                     0
11                                 2                                     0
12                                 2                                     0
13                                 1                                     1
14                                 1                                     0
15                                 1                                     0
16                                 2                                     0
17                                 0                                     0
18                                 1                                     0
19                                 0                                     0
20                                 2                                     0
21                                 1                                     0
22                                 0                                     0
23                                 0                                     0
24                                 1                                     0
25                                 3                                     0
26                                 1                                     0
27                                 0                                     0
28                                 0                                     0
29                                 1                                     0
...                              ...                                   ...
149970                             2                                     0
149971                             0                                     0
149972                             0                                     0
149973                             1                                     0
149974                             1                                     0
149975                             2                                     0
149976                             0                                     0
149977                             0                                     0
149978                             0                                     0
149979                             0                                     0
149980                             1                                     0
149981                             0                                     0
149982                             0                                     0
149983                             0                                     0
149984                             0                                     0
149985                             0                                     0
149986                             0                                     0
149987                             0                                     0
149988                             1                                     0
149989                             0                                     0
149990                             1                                     0
149991                             2                                     0
149992                             1                                     0
149993                             0                                     0
149994                             0                                     0
149995                             1                                     0
149996                             1                                     0
149997                             1                                     0
149998                             0                                     0
149999                             2                                     0

        NumberOfDependents
0                        2
1                        1
2                        0
3                        0
4                        0
5                        1
6                        0
7                        0
8                      NaN
9                        2
10                       0
11                       2
12                       2
13                       2
14                       0
15                       2
16                       0
17                       0
18                       2
19                       0
20                       0
21                       2
22                       0
23                       0
24                       0
25                       1
26                       0
27                       1
28                       0
29                       0
...                    ...
149970                   2
149971                   0
149972                   1
149973                   1
149974                   0
149975                   0
149976                   0
149977                   0
149978                   0
149979                   0
149980                   0
149981                   4
149982                   3
149983                   0
149984                   0
149985                   0
149986                   1
149987                   0
149988                   0
149989                   3
149990                   2
149991                   0
149992                   3
149993                   0
149994                   0
149995                   0
149996                   2
149997                   0
149998                   0
149999                   0

[150000 rows x 12 columns]>

In [4]:
df['age'].mean()

52.295206666666665

In [5]:
df['age'].median()

52.0

In [6]:
df['age'].mode()

0    49
dtype: int64

In [7]:
df['age'].skew()

0.18899454512676725

In [8]:
x = np.arange(df['age'].min(), df['age'].max())

In [9]:
df.loc[df['age'] < 18]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
65695,65696,0,1,0,1,0.436927,6000,6,0,2,0,2

In [10]:
df['age'].max()

109

In [11]:
df.loc[df['age'] > 100]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
7763,7764,0,0.069167,101,0,50.000000,NaN,2,0,0,0,0
19884,19885,0,1.000000,103,0,0.000000,1600,3,0,0,0,0
25561,25562,0,0.009866,102,0,0.002424,3300,3,0,0,0,0
40007,40008,0,0.064748,107,0,939.000000,NaN,9,0,1,0,0
56761,56762,0,0.003469,105,0,2.000000,NaN,4,0,0,0,NaN
57967,57968,0,0.001397,103,0,1798.500000,1,11,0,2,0,0
90937,90938,0,0.000000,102,0,0.000000,NaN,12,0,0,0,0
93813,93814,0,0.025780,101,0,0.013797,1666,5,0,0,0,0
96450,96451,0,0.109642,102,0,0.273844,3417,7,0,0,0,1
105790,105791,0,0.109307,109,0,2141.000000,NaN,17,0,1,0,NaN
116129,116130,1,0.002964,101,2,0.001387,2883,6,0,0,0,0
135025,135026,0,0.004059,103,0,5.000000,NaN,6,0,0,0,0
138291,138292,0,0.246529,109,0,318.000000,NaN,3,0,0,0,NaN